<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Management System</title>
    <link rel="stylesheet" href="./updateEmployee.css" />
    <script src="./updateEmployee.js"></script>
  </head>
  <body>
    <div id="content-container">
      <div class="title-page">
        <h1>Employee Management System</h1>
      </div>
      <hr />
      <div class="subtitle-page">
        <h2>Update Employee</h2>
      </div>
      <div class="update-employee-form-container">
        <form action="/updateEmployeeForm" method="POST">
          <label>First Name</label>
          <input type="text" id="first-name" placeholder="Enter first name" value="John"/>
          <label>Last Name</label>
          <input type="text" id="last-name" placeholder="Enter last name" value="Smith"/>
          <label>Email</label>
          <input type="text" id="email" placeholder="Enter email" value="johnsmith@gmail.com"/>
          <button class="update-emplpoyee-btn">Update Employee</button>
        </form>
      </div>
      <hr />
      <div class="back-homepage-link-container">
        <a
          id="go-back-homepage"
          href="file:///Users/macbook/WorkSpace/ThymeLeaf%20Template/index.html"
          target="_blank"
          >Back to HomePage</a
        >
      </div>
    </div>
  </body>
</html>
